# Compiled class files
target/
build/

# Log files
*.log

# IDE specific files
.idea/
*.iws
*.iml
*.ipr

# Maven
.mvn/
!/.mvn/wrapper/maven-wrapper.jar

# Gradle
.gradle/
build/
!gradle-wrapper.jar

# Node.js
node_modules/

# Application-specific files
*.h2.db
*.sqlite
*.db
*.pid

# OS-specific files
.DS_Store
Thumbs.db

# Ignore Maven wrapper configuration
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

# IntelliJ IDEA project files
.idea/*
!.idea/*.iml
!.idea/modules.xml
!.idea/misc.xml
!.idea/workspace.xml
!.idea/tasks.xml
!.idea/dictionaries
!.idea/libraries

# NetBeans specific files
nbproject/private/
nbbuild/
dist/
nbdist/

# VS Code specific files
.vscode/

# Eclipse specific files
.project
.classpath
.factorypath
.settings/
